@(form: Form[controllers.LoginController.LoginForm])

@main("Business Informatics Group Quiz - Login", "login-page") {

  <a class="accessibility" href="#login">@Messages("authentication.accessibility.jumptologin")</a>
  <a class="accessibility" title="@Messages("authentication.accessibility.signup")" href="@routes.RegistrationController.showRegistrationPage()"
  accesskey="r">@Messages("authentication.accessibility.signup")</a>
  <!-- Header -->
  <header role="banner" aria-labelledby="bannerheading">
    <h1 id="bannerheading">
      <span class="accessibility">Business Informatics Group </span> <span class="gametitle">Jeopardy!</span>
    </h1>
  </header>

  <!-- Content -->
  <div role="main">
    <section id="login" aria-labelledby="loginheading">
      <h2 id="loginheading" class="accessibility">@Messages("authentication.login")</h2>

      <form action="@routes.LoginController.postLogin()" method="post">
        @if(form.hasErrors) {
          @if(form.errors.size() > 0) {
            @for((key, value) <- form.errors) {

              @for(err <- value) {
                @err.message().toString()
              }
            }
          } else {No error returned.}
        }
        <fieldset>
          <legend id="logindata">@Messages("authentication.login")</legend>
          <label for="username">@Messages("authentication.username")</label>
          <input name="username" id="username" type="text" required="required"/>
          <label for="password">@Messages("authentication.password")</label>
          <input name="password" id="password" type="password" required="required"/>
          <input name="login" id="loginsubmit" class="greenlink formlink clickable" type="submit"
          value="@Messages("login")"/>
        </fieldset>
      </form>
    </section>
      <!-- Register section -->
    <section id="registerforward" aria-labelledby="registerheading">
      <h2 id="registerheading" class="accessibility">@Messages("authentication.accessibility.signup2")</h2>

      <p id="registerhint">@Messages("authentication.signupquestion")</p>
      <a class="contentlink orangelink" title="@Messages("authentication.accessibility.signupinfo")" href="@routes.RegistrationController.showRegistrationPage()"
      accesskey="r">@Messages("authentication.signup")</a>
    </section>
  </div>
}