@(game :at.ac.tuwien.big.we15.lab2.api.JeopardyGame)

@main(title = Messages("question.title"), "jeopardy-page") {

    <a class="accessibility" href="#question-selection">@Messages("question.accessibility.jumptoquestionchoice")</a>
    <!-- Header -->
    <header role="banner" aria-labelledby="bannerheading">
        <h1 id="bannerheading">
            <span class="accessibility">Business Informatics Group </span><span class="gametitle">Jeopardy!</span>
        </h1>
    </header>

    <!-- Navigation -->
    <nav role="navigation" aria-labelledby="navheading">
        <h2 id="navheading" class="accessibility">@Messages("accessibility.navigation")</h2>
        <ul>
            <li><a class="orangelink navigationlink" id="logoutlink" title="@Messages("accessibility.logoutinfo")" href="@routes.LoginController.logout()" accesskey="l">@Messages("logout")</a></li>
        </ul>
    </nav>


    <!-- Content -->
    <div role="main">
            <!-- info -->
        <section id="gameinfo" aria-labelledby="gameinfoinfoheading">
            <h2 id="gameinfoinfoheading" class="accessibility">@Messages("question.playerinfo")</h2>
            <section id="firstplayer" class="playerinfo leader" aria-labelledby="firstplayerheading">
                <h3 id="firstplayerheading" class="accessibility">@Messages("question.accessibility.firstplayer")</h3>
                <img class="avatar" src="@routes.Assets.at("images/avatar/" + game.getHuman.getAvatar.getImageHead)" alt="@Messages("question.accessibility.playeravatar") Black Widow" />
                <table>
                    <tr>
                        <th class="accessibility">@Messages("question.accessibility.playername")</th>
                        <td class="playername">@game.getHuman.getAvatar.getName (@Messages("question.you"))</td>
                    </tr>
                    <tr>
                        <th class="accessibility">@Messages("question.accessibility.playerpoints")</th>
                        <td class="playerpoints">@game.getHumanPlayer.getProfit €</td>
                    </tr>
                </table>
            </section>
            <section id="secondplayer" class="playerinfo" aria-labelledby="secondplayerheading">
                <h3 id="secondplayerheading" class="accessibility">@Messages("question.accessibility.secondplayer")</h3>
                <img class="avatar" src="@routes.Assets.at("images/avatar/" + game.getMarvin.getAvatar.getImageHead)" alt="@Messages("question.accessibility.playeravatar") Deadpool" />
                <table>
                    <tr>
                        <th class="accessibility">@Messages("question.accessibility.playername")</th>
                        <td class="playername">@game.getMarvin.getAvatar.getName</td>
                    </tr>
                    <tr>
                        <th class="accessibility">@Messages("question.accessibility.playerpoints")</th>
                        <td class="playerpoints">@game.getMarvinPlayer.getProfit €</td>
                    </tr>
                </table>
            </section>
            <p id="round">@Messages("question.question") @(game.getHumanPlayer.getAnsweredQuestions.size() + 1) / 5</p>
        </section>

            <!-- Question -->
        <section id="question-selection" aria-labelledby="questionheading">
            <h2 id="questionheading" class="black accessibility">Jeopardy</h2>

            @if(game.getHumanPlayer.getAnsweredQuestions.size()<1){
                <p class="user-info">@Messages("jeopardy.userinfo")</p>
            }else{
                @if(game.getHumanPlayer.getLatestProfitChange<0) {
                    <p class="user-info negative-change">@Messages("question.youfalse") @game.getHumanPlayer.getLatestProfitChange €</p>
                }else{
                    <p class="user-info positive-change">@Messages("question.youright") @game.getHumanPlayer.getLatestProfitChange €</p>
                }
            }

            @if(game.getHumanPlayer.getAnsweredQuestions.size()<1) {
            }else{
                @if(game.getMarvinPlayer.getLatestProfitChange>0) {
                    <p class="user-info positive-change">@game.getMarvin.getName @Messages("question.marvinright") @game.getMarvinPlayer.getLatestProfitChange €</p>
                }else {
                    <p class="user-info negative-change">@game.getMarvin.getName @Messages("question.marvinfalse") @game.getMarvinPlayer.getLatestProfitChange €</p>
                }
            }
            <!--from lab 2-->

            <form id="questionform" action="@routes.QuestionController.showQuestionPage()" method="post">
                <fieldset>

                    <legend class="accessibility">@Messages("jeopardy.accessibility.choice")</legend>

                    @for(iterCategory <- game.getCategories) {
                        <section class="questioncategory" aria-labelledby="@{iterCategory.getName.trim()}heading">
                        <h3 id="@{iterCategory.getName.trim()}heading" class="tile category-title"><span class="accessibility">Kategorie: </span>@iterCategory.getName</h3>
                        <ol class="category_questions">
                            @for(iterQuestion <- iterCategory.getQuestions()) {
                            <li><input name="question_selection" id="question_@{iterQuestion.getId}" value="@iterQuestion.getId()" type="radio" @if(game.hasBeenChosen(iterQuestion)){ disabled="disabled"}/>
                                <label class="tile clickable" for="question_@{iterQuestion.getId}">&euro; @iterQuestion.getValue()</label></li>
                            }
                        </ol>
                        </section>
                    }
                </fieldset>
                <input class="greenlink formlink clickable" name="question_submit" id="next" type="submit" value="@Messages("jeopardy.choose")" accesskey="s" />
            </form>

            <!----------->

        <section id="lastgame" aria-labelledby="lastgameheading">
            <h2 id="lastgameheading" class="accessibility">@Messages("jeopardy.accessibility.lastgameinfo")</h2>
            <p>@Messages("jeopardy.lastgame") @Messages("jeopardy.lastgame.no")</p>
        </section>
    </div>

    <script type="text/javascript">
            //<![CDATA[
            
            // initialize time
            $(document).ready(function() {
                // set last game
                if(supportsLocalStorage()) {
	                var lastGameMillis = parseInt(localStorage['lastGame']);
	                if(!isNaN(parseInt(localStorage['lastGame']))){
	                    var lastGame = new Date(lastGameMillis);
	                	$("#lastgame p").replaceWith('<p>@{Messages("jeopardy.lastgame")+ " "}<time datetime="'
	                			+ lastGame.toUTCString()
	                			+ '">'
	                			+ lastGame.toLocaleString()
	                			+ '</time></p>')
	                }
            	}
            });            
            //]]>
        </script>
}
