@(form: Form[model.LoginData], sessionLogIn: Boolean)

@main(title = Messages("registration.title"), "register-page") {

    <a title="@Messages("registration.accessibility.jumptoregister")" class="accessibility" href="#register">@Messages("registration.accessibility.jumptoregister")</a>

    <!-- Header -->
    <header role="banner" aria-labelledby="bannerheading">
        <h1 id="bannerheading">
            <span class="accessibility">Business Informatics Group </span><span class="gametitle">Jeopardy!</span>
        </h1>
    </header>

    <!-- Navigation -->
    <nav role="navigation" aria-labelledby="navheading">
        <h2 id="navheading" class="accessibility">@Messages("accessibility.navigation")</h2>
        <ul>
            <li><a class="orangelink navigationlink" id="loginlink" title="@Messages("accessibility.logininfo")"
            href="login.xhtml" accesskey="l">@Messages("login")</a></li>
        </ul>
    </nav>

    <!-- Content -->
    <div id="register" role="main">
            <!-- Register section -->
        <h2 id="registerheading" class="accessibility">@Messages("registration.accessibility.signup")</h2>

        <form action="@routes.RegistrationController.postRegistration()" method="post">
            @if(form.hasErrors) {
                @if(form.errors.size() > 0) {
                    @for((key, value) <- form.errors) {
                        @key.toString() :
                        @for(err <- value) {
                            @err.message().toString()
                        }
                    }
                } else {No error returned.}
            }
            <fieldset>
                <legend>@Messages("registration.personaldata")</legend>
                <label for="firstname">@Messages("registration.firstname")</label>
                <input id="firstname" type="text" name="firstname"/>

                <label for="lastname">@Messages("registration.lastname")</label>
                <input id="lastname" type="text" name="lastname"/>

                <label for="birthdate">@Messages("registration.birthdate")</label>
                <input id="birthdate" type="date" name="birthdate"/>

                <div id="error_msg_birthdate" class="hide" role="alert">@Messages("registration.birthdate.error")
                </div>

                <label>@Messages("registration.gender")</label>
                <fieldset class="inputset">
                    <input type="radio" name="gender" id="male" value="male" checked="checked"/>
                    <label for="male">@Messages("registration.gender.male")</label>
                    <input type="radio" name="gender" id="female" value="female"/>
                    <label for="female">@Messages("registration.gender.female")</label>
                </fieldset>


            </fieldset>
            <fieldset>
                <legend>@Messages("registration.playerdata")</legend>
                <label for="avatar">Avatar:</label>
                <select id="avatar" name="avatar">
                    <option value="ALDRICH_KILLIAN">Aldrich Killian</option>
                    <option value="BEETLE">Beetle</option>
                    <option value="BLACK_WIDOW">Black Widow</option>
                    <option value="CAPTAIN_AMERICA">Captain America</option>
                    <option value="CYCLOPS">Cyclops</option>
                    <option value="DEADPOOL">Deadpool</option>
                    <option value="DOCTOR_DOOM">Doctor Doom</option>
                    <option value="DOCTOR_OCTOPUS">Doctor Octopus</option>
                    <option value="DRAX">Drax</option>
                    <option value="ELECTRO">Electro</option>
                    <option value="EXTREMIS_SOLDIER">Extremis Soldier</option>
                    <option value="FALCON">Falcon</option>
                    <option value="GAMORA">Gamora</option>
                    <option value="GREEN_GOBLIN">Green Goblin</option>
                    <option value="GROOT">Groot</option>
                    <option value="HAWKEYE">Hawkeye</option>
                    <option value="HULK">Hulk</option>
                    <option value="HYDRA_HENCHMAN">Hydra Henchman</option>
                    <option value="IRON_FIST">Iron Fist</option>
                    <option value="IRON_MAN">Iron Man</option>
                    <option value="J_JONAH_JAMESON">J. Jonah Jameson</option>
                    <option value="LOKI">Loki</option>
                    <option value="MAGNETO">Magneto</option>
                    <option value="MARY_JANE_WATSON">Mary Jane Watson</option>
                    <option value="MODOK">MODOK</option>
                    <option value="NEBULA">Nebula</option>
                    <option value="NICK_FURY">Nick Fury</option>
                    <option value="NOVA">Nova</option>
                    <option value="PEPPER_POTTS">Pepper Potts</option>
                    <option value="POWER_MAN">Power Man</option>
                    <option value="RED_SKULL">Red Skull</option>
                    <option value="ROCKET">Rocket Raccoon</option>
                    <option value="RONAN">Ronan</option>
                    <option value="SPIDERMAN">Spiderman</option>
                    <option value="STARLORD">Starlord</option>
                    <option value="TASKMASTER">Taskmaster</option>
                    <option value="THE_MANDARIN">The Mandarin</option>
                    <option value="THOR">Thor</option>
                    <option value="TONY_STARK">Tony Stark</option>
                    <option value="VENOM">Venom</option>
                    <option value="WAR_MACHINE">War Machine</option>
                    <option value="WOLVERINE">Wolverine</option>
                </select>

                <label for="name">@Messages("registration.username")</label>
                <input id="name" type="text" required="required" pattern="\w{4,8}" name="name"/>

                <div id="error_msg_username" class="hide" role="alert">@Messages("registration.username.error")
                </div>

                <label for="password">@Messages("registration.password")</label>
                <input id="password" type="password" required="required" pattern="\w{4,8}" name="password"/>

                <div id="error_msg_password" class="hide" role="alert">@Messages("registration.password.error")
                </div>
                <input class="greenlink formlink" type="submit" value="@Messages("registration.signup")" accesskey="s" />

                <p id="requiredhint">@Messages("registration.datainfo")</p>
            </fieldset>
        </form>
    </div>

    <!-- Footer -->

    <script type="text/javascript">
    //<![CDATA[

    $(document).ready(function () {
        if (areAllFieldsValid()) {
            $('input[type="submit"]').removeAttr('disabled');
        } else {
            $('input[type="submit"]').attr('disabled', 'disabled');
        }
    });

    function areAllFieldsValid() {
        var valid;
        if (hasFormValidation()) {
            valid = $('form')[0].checkValidity();
        } else {
            valid = !(isUsernameInvalid($("#username").val()) || isPasswordInvalid($("#password").val()));
        }
        if (!hasNativeDateInput()) {
            valid = valid && !isBirthdayInvalid("birthdate");
        }
        return valid;
    }

    function updateSubmitState() {
        if (areAllFieldsValid()) {
            $('input[type="submit"]').removeAttr('disabled');
        } else {
            $('input[type="submit"]').attr('disabled', 'disabled');
        }
    }

    function updateFieldValidity(isInvalid, fieldSelector, messageSelector) {
        if (isInvalid) {
            $(fieldSelector).addClass('error');
            $(messageSelector).removeClass('hide');
        } else {
            $(fieldSelector).removeClass('error');
            $(messageSelector).addClass('hide');
        }
    }

    /*
     * Birth Date
     */
    $("#birthdate").keyup(function (event) {
        if (hasFormValidation()) {
            this.setCustomValidity("");
        }

        var isInvalid;
        if (!hasFormValidation() || !hasNativeDateInput()) {
            isInvalid = isBirthdayInvalid("birthdate");
        } else {
            isInvalid = !this.validity.valid;
        }

        updateFieldValidity(isInvalid, "#birthdate", "#error_msg_birthdate");
        updateSubmitState();
    });

    /*
     * Checks if the input with the given id is a valid birthdate or not
     */
    function isBirthdayInvalid(id) {
        re = /^(\d{1,2})\.(\d{1,2})\.(\d{4})$/;
        value = getNormalizedDateString("#" + id);
        console.log(value);
        if (value != '') {
            if (regs = value.match(re)) {
                if (regs[1] < 1 || regs[1] > 31) {
                    return true;
                }
                if (regs[2] < 1 || regs[2] > 12) {
                    return true;
                }
                if (regs[3] < 1902 || regs[3] > (new Date()).getFullYear() + 100) {
                    return true;
                }
                return false;
            } else {
                return true;
            }
        } else {
            return false;
        }
    }

    /*
     * User Name
     */
    $("#username").keyup(function (event) {
        if (hasFormValidation()) {
            this.setCustomValidity("");
        }

        var isInvalid;
        if (!hasFormValidation()) {
            isInvalid = isUsernameInvalid($(event.target).val());
        } else {
            isInvalid = !this.validity.valid;
        }

        updateFieldValidity(isInvalid, "#username", "#error_msg_username");
        updateSubmitState();
    });

    /*
     *  checks if the given input value is a valid username or not
     */
    function isUsernameInvalid(value) {
        return value.length < 4 || value.length > 8;
    }

    /*
     * Password
     */
    $("#password").keyup(function (event) {
        if (hasFormValidation()) {
            this.setCustomValidity("");
        }

        var isInvalid;
        if (!hasFormValidation()) {
            isInvalid = isPasswordInvalid($(event.target).val());
        } else {
            isInvalid = !this.validity.valid;
        }

        updateFieldValidity(isInvalid, "#password", "#error_msg_password");
        updateSubmitState();
    });

    /*
     *   checks if the given input value is a valid username or not
     */
    function isPasswordInvalid(value) {
        return value.length < 4 || value.length > 8;
    }
    //]]>
    </script>

}